<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | "WP Permalauts" }}{% if page.tagline %} — {{ page.tagline }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Artifika|Fenix|Open+Sans">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="author" href="/humans.txt" />
  </head>

  <body id="{{ page.navid | 'unknown' }}">
    <div id="container">

        <header>
          <a href="/" class="banner">
            <h1>WP Permalauts</h1>
          </a>
          <div class="meta">
            <h2>Deutsche Umlaute in Permalinks von WordPress</h2>

            <p><small>
              Umwandeln von deutschen Umlauten in URLs für Artikel, Seiten, Kategorien und Schlagwörter.
              <br>
              So wird aus dem Titel »Stra<b>ß</b>en, Fl<b>ü</b>sse, B<b>ä</b>che und <b>Ö</b>l«
              der Permalink <code>/stra<b>ss</b>en-fl<b>ue</b>sse-b<b>ae</b>che-und-<b>oe</b>l</code>.
            </small></p>

            <nav>
              <ul>
                <li><a id="homenav" href="/">Beschreibung</a></li>
                <li><a id="instnav" href="/installation.html">Installation</a></li>
                <li><a id="settnav" href="/einstellungen.html">Einstellungen</a></li>
                <li><a id="faqnav"  href="/faq.html">FAQ</a></li>
                <li><a id="chlgnav" href="/changelog.html">Changelog</a></li>
                <li><a id="metanav" href="/meta.html">Meta</a></li>
              </ul>
            </nav>

          </div>
        </header>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          <small>
            <strong>WP Permalauts</strong>
            wird betreut und entwickelt durch
            <a href="https://github.com/kaffee-mit-milch">kaffee mit milch</a>/<a href="https://github.com/asaaki" title="asaaki">asaaki</a>.
          </small>
        </footer>

    </div>
    <script>
      // read: http://mathiasbynens.be/notes/async-analytics-snippet
      var _gaq=[['_setAccount', 'UA-37688260-1'],['_trackPageview'],['_gat._anonymizeIp'],['_trackPageLoadTime']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document, 'script'))
    </script>
  </body>
</html>
