<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | "WP Permalauts" }}{% if page.tagline %} — {{ page.tagline }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title | 'WP Permalauts' }}{% if page.tagline %} — {{ page.tagline }}{% endif %}{% endif %}">
    <meta name="keywords"    content="{% if page.keywords %}{{ page.keywords }}{% else %}wp permalauts wordpress plugin {{ page.title }}{% endif %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Artifika|Fenix|Open+Sans">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="author" href="/humans.txt" />
    <link rel="bitcoin" type="x-bitcoin/address" href="bitcoin:1FWFiXPTuNwbBdR7jfymq7d2Mk3boTZ8VT&message=Spende%20f%C3%BCr%20WP%20Permalauts" />
  </head>

  <body id="{{ page.navid | 'unknown' }}">
    <div id="fb-root"></div>
    <div id="container">

        <header>
          <a href="/" class="banner">
            <h1>WP Permalauts</h1>
          </a>
          <div class="meta">
            <h2>Deutsche Umlaute in Permalinks von WordPress</h2>

            <p><small>
              Umwandeln von deutschen Umlauten in URLs für Artikel, Seiten, Kategorien und Schlagwörter.
              <br>
              So wird aus dem Titel »Stra<b>ß</b>en, Fl<b>ü</b>sse, B<b>ä</b>che und <b>Ö</b>l«
              der Permalink <code>/stra<b>ss</b>en-fl<b>ue</b>sse-b<b>ae</b>che-und-<b>oe</b>l</code>.
            </small></p>

            <nav>
              <ul>
                <li><a id="homenav" href="/">Beschreibung</a></li>
                <li><a id="instnav" href="/installation.html">Installation</a></li>
                <li><a id="settnav" href="/einstellungen.html">Einstellungen</a></li>
                <li><a id="faqnav"  href="/faq.html">FAQ</a></li>
                <li><a id="chlgnav" href="/changelog.html">Changelog</a></li>
                <li><a id="metanav" href="/meta.html">Meta</a></li>
              </ul>
            </nav>

          </div>
        </header>

        <section id="main_content">
          {{ content }}
        </section>

        <section id="actions">
          <div class="button paypal">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KTWUS3QQ9TQH8"><img src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_SM.gif" style="height:20px"></a>
          </div>

          <div class="button flattr">
            <a href="http://flattr.com/thing/1101630/WP-Permalauts" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>
          </div>

          <div class="button spacer">
          </div>

          <div class="button facebook">
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
          </div>

          <div class="button twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="permalauts" data-lang="de" data-hashtags="permalauts">Twittern</a>
          </div>

          <div class="button googleplus">
            <div class="g-plusone" data-size="medium"></div>
          </div>
        </section>

        <footer>
          <small>
            <strong>WP Permalauts</strong>
            wird betreut und entwickelt durch
            <a href="https://github.com/kaffee-mit-milch">kaffee mit milch</a>/<a href="https://github.com/asaaki" title="asaaki">asaaki</a>.
            <br>

            <span class="bitcoin-address">
              Ƀ: <a class="hash" href="bitcoin:1FWFiXPTuNwbBdR7jfymq7d2Mk3boTZ8VT&message=Spende%20f%C3%BCr%20WP%20Permalauts">1Asaaki1CtV8zAUMwrnPviM7oLFmWUQ3cQ</a>
            </span>
          </small>
        </footer>

    </div>
    <script>
      // GA - read: http://mathiasbynens.be/notes/async-analytics-snippet
      var _gaq=[['_setAccount', 'UA-37688260-1'],['_trackPageview'],['_gat._anonymizeIp'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));

      // G+ button
      window.___gcfg={lang:'de'};
      (function(d,t){var e=d.createElement(t),s=d.getElementsByTagName(t)[0];e.async=1;e.src='//apis.google.com/js/plusone.js';s.parentNode.insertBefore(e,s)}(document,'script'));
      // twitter button
      (function(d,t){var e=d.createElement(t),s=d.getElementsByTagName(t)[0];e.async=1;e.src='//platform.twitter.com/widgets.js';s.parentNode.insertBefore(e,s)}(document,'script'));
      // facebook button
      (function(d,t){var e=d.createElement(t),s=d.getElementsByTagName(t)[0];e.async=1;e.src='//connect.facebook.net/de_DE/all.js#xfbml=1';s.parentNode.insertBefore(e,s)}(document,'script'));
    </script>
  </body>
</html>
